
.CartItem {
  width: 100%;
  display: flex;
}

.Paper {
  display: flex;
  flex: 1;
}

.Actions {
  min-width: 50px !important;
}

.Total {
  padding: 11px;
  text-align: center;
  min-width: 50px;
}

.Image {
  max-width: 50px;
  max-height: 40px;
}

.left {
  margin-top: 10px;
}

.right {
  flex: 1;
  text-align: right;
}
